body {
    width: 900px;
    height: 700px;
    background: silver;
    margin-right: auto;
    margin-left: auto;
}

.father {
    width: 900px;
    height: 360px;
    background: #f3fff1;
    padding: 1%;
}

.block-2 {
    display: flex;
    flex-direction: row;
}

.header {
    height: 60px;
    margin: 2px;
    background: #fa0131;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    height: 50px;
    margin: 2px;
    background: #ffd400;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.block-2 {
    display: flex;
    flex-direction: row;

}

.main {
    height: 190px;
    background: #fd5e02;
    margin: 1px;

}

.aside {
    margin: 2px;
    background: #0959f8;
    padding: 5px;
    width: 65%;

}

.footer {
    height: 50px;
    margin: 2px;
    background: #f063f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}